body {
    background-color: #0A153E;
}
#positioning {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.Qblock {
    background-color: #000000;
    color: #FFFFFF;
    width: 700px;
    height: 433px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
.Wbutton {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 50px;
    width: 250px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    font-size: 2em;
}